body {
    font-family: Arial;
    background-color: rgb(111 148 183);
    color: rgb(0, 0, 0);
    margin: 0;
}

header {
    background-image: url("../images/berg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    margin-top: -4rem;
    background-attachment: fixed;
}

h1 {
    color: black;
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 4rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgb(149 177 209);
    margin: auto;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.onderdelen {
    border-radius: 1rem;

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    background-color: rgb(220 234 247);
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    padding-left: 3rem;
    padding-right: 3rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}