body {
    font-family: Arial;
    background-color: rgb(111 148 183);
    color: rgb(0, 0, 0);
    margin: 0;
}

table,
td,
th {
    border: 3px solid rgb(0, 0, 0);
    background-color: aliceblue;
    margin: auto;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 70%;
}

